@font-face {
  font-family: 'InranSans';
  src: url('../IRANSans/eot/IRANSansWeb.eot'); /* IE9 Compat Modes */
  src: url('../IRANSans/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../IRANSans/woff2/IRANSansWeb.woff2') format('woff2'), /* Super Modern Browsers */
  url('../IRANSans/woff/IRANSansWeb.woff') format('woff'), /* Pretty Modern Browsers */
  url('../IRANSans/ttf/IRANSansWeb.ttf')  format('truetype'); /* Safari, Android, iOS */
}
